extends layout.pug

block title
  | Thêm Học Sinh
block content
  h1 Thêm Học Sinh
  form(action="/add-students" method="post" enctype="multipart/form-data")
    div
      label(for="file") Chọn File CSV:
      input(type="file" name="file" accept=".csv" required)
    div
      button(type="submit") Tải Lên
