mixin navbar
  nav.navbar
    ul.nav-list
      li.nav-item.dropdown
        a(href="#" class="dropbtn") Học Sinh
        div.dropdown-content
          a(href="/") Danh Sách Học Sinh
          a(href="/add-students") Thêm Học Sinh
      li.nav-item.dropdown
        a(href="#" class="dropbtn") Thành Tích
        div.dropdown-content
          a(href="/grades") Danh Sách Điểm
          a(href="/add-grades") Thêm Điểm
      li.nav-item.dropdown
        a(href="#" class="dropbtn") Chuyên Cần
        div.dropdown-content
          a(href="/attendanceform") Điểm Danh
          a(href="/attendance") Thống Kê Chuyên Cần
      li.nav-item
        a(href="/form-select") Form Nhìn Lại
